// place your custom styles here
@font-face {
    font-family: lxgw-wenkai-screen;
    src: url("https://cdnjs.cloudflare.com/ajax/libs/lxgw-wenkai-screen-webfont/1.7.0/lxgwwenkaigbscreenr.min.css");

    font-family: han-serif;
    src: url("https://cdn.jsdelivr.net/npm/cn-fontsource-source-han-serif-sc-vf-regular@1.0/font.min.css");
}