// you can change colors here
$theme-color: #27ae60, #c0392b, #d35400, #f39c12, #16a085, #2980b9, #8e44ad,
  #2c3e50, #7f8c8d !default;

$font-family: '"lxgw-wenkai-screen", han-serif, -apple-system, "PingFang SC", sans-serif';
$font-family-heading: "lxgw-wenkai-screen";
